<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	<!-- spring提供的编码过滤器 -->





	<!-- Spring Config -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:activemq.xml</param-value>
	</context-param>

	<!-- MQ的部署地址，用于服务器端访问消息队列 -->
	<context-param>
		<param-name>org.apache.activemq.brokerURL</param-name>
		<param-value>tcp://123.206.52.239:61616</param-value>
	</context-param>


	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<!-- 初始化参数 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>

		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- Spring刷新Interceptor防止内存泄漏 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- spring MVC dispatcherServlet -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 配置 加载指定 位置的 spring 配置文件 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:application.xml</param-value>
		</init-param>

		<async-supported>true</async-supported>
	</servlet>

	<!-- 当客户端向服务器发送请求时，都会请求到这个servlet -->
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<!-- 拦截所有路径 交给spring提供的DispatcherServlet 处理 -->
		<url-pattern>/</url-pattern>
		<!--默认情况 spring配置文件的名字为 servlet-name-servlet.xml 放置在 WEB-INF 下 -->
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/amq/*</url-pattern>
	</servlet-mapping>


	<!-- 设置session 超时时间为20分钟 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

</web-app>
